{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="row ">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}

                </div>
                <button type="submit" class="btn btn-primary">
                    Удалить
                </button>
            </div>
        </form>
    </div>
{% endblock %}